{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "short-text" .Params.blurb}}


<div class="mw7 center ph3 pt4">

  <h2 class="f3 b">Club Night 2018</h2>
  <p>Every Thursday from 4.45pm until late. Let Braden Woolford know if you are unable to make your game time as there are multitude of people playing weekly so the draw only flows seamlessly if you communicate your intentions.</p>

  <h2 class="f3 b">Nga Hau E Wha 2017</h2>
  <p>Red Star hosted the annual Māori squash tournament at Labour weekend, 20-23 October. This purely social event (no grading points) offered both singles and doubles matches as competitors displayed sportsmanship and aroha as they competed for unique  taonga (treasures/prizes). To view photographs and see trophy winners, access the 'Nga Hau E Wha Wairarapa Squash' page via Facebook.</p>

  <h2 class="f3 b">Online court booking</h2>
  <p>The online booking system is up and running. If you are a new member, speak to Craig about your email invite. Follow the link to set up your password.</p>
  <p>
    <a href="http://bookacourt.nz" title="http://bookacourt.nz">Click here to goto the online booking system - bookacourt.nz</a>
  </p>
  <p>
  <a href="/img/Red Star Squash Club Online Court Booking.pdf" title="Red Star Squash Club Online Court Booking">Click here for instructions</a>
  </p>

  <h2 class="f3 b">Membership form</h2>
  <p>
    <a href="/img/Membership form.pdf" title="Membership Form">Download Red Star Squash Club Membership form</a>&nbsp;
  </p>

</div>
{{ partial "blog" . }}

{{ end }}
